{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <section class="text-center mb-4">
    <!-- <h1 class="mb-5 h1-bkh text-dark">About</h1> -->
    <div class="row">
      <div class="col-md-4 offset-md-1">
        <img src="{% static 'img/b_laying.jpg' %}" alt="" class="img-fluid">
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          <p class="about-text-bkh">
            You’ve found the hub of my creative outlet. My photography usually connects to exploration, to the earth,
            and
            to the human, but with a style that’s still evolving you never know what exactly you’ll find. I just thank
            you
            for looking.
          </p>
          <p class="about-text-bkh">Based in North Carolina.</p>
          <p class="about-text-bkh">Any questions? Feel free to contact me!</p>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Form -->
  <section class="container scrollspy mt-5" id="contact">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <h2 class="text-center">Contact Me</h2>
        <form action="." method="POST">
          {% csrf_token %}
          {{ form }}
          <div class="d-flex justify-content-center mt-2 mb-4">
            <input type="submit" value="Send" class="btn btn-bkh" />
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

{% endblock %}