{% extends "base.html" %} {% load static %} {% block content %}
<div>
  <div class="view jarallax wow fadeIn" style="height: 75vh;">
    <img class="jarallax-img" src="{% static 'img/mountains.jpg' %}" alt="parallax image of mountains">
  </div>

  <!-- Albums -->
  <section class="mx-4 mt-5" id="albums" data-aos="fade-in">
    <div id="albums-home" class="row">
      {% for album in albums %}
      <div class="col-sm-6 col-lg-3 mt-5">
        <div class="albums-home pb-5 px-5 h-100">
          <div class="card-body pb-5 pl-0">
            <a href="{{ album.get_absolute_url }}" class="stretched-link">
              <h2 class="card-title black-text">{{ album.title }}</h2>
            </a>
          </div>
          <img class="card-img-top" src="{{ album.cover.url }}" alt="album cover image">
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Contact Form -->
  <section class="container mt-5" id="contact" data-aos="fade-in">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <h2 class="text-center">Contact Me</h2>
        <form action="." method="POST">
          {% csrf_token %}
          {{ form }}
          <div class="d-flex justify-content-center mt-2 mb-4">
            <input type="submit" value="Send" class="btn btn-bkh" />
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<script>
  function bgColor(id) {

    var albums = document.getElementById(id);
    var DIVs = albums.getElementsByClassName('albums-home');

    var colors = ['#dbe9f1', '#dceae9', '#e6eee5', '#e9ecf1'];

    var colorIndex = 0;
    for (var i = 0; i < DIVs.length; i++) {

      DIVs[i].setAttribute('style', 'background-color: ' + colors[colorIndex]);
      colorIndex = (colorIndex + 1) % colors.length;
    }
  }

  bgColor('albums-home');
</script>

{% endblock %}